{% extends 'base.html.twig' %}

{% block title %}{{ company.name }} - Institutional Ownership{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ company.name }} - Institutional Ownership</h1>
        <p>This page will display the institutional ownership data for {{ company.name }}.</p>
        <a href="{{ path('company_show', {'id': company.id}) }}" class="btn btn-secondary">Back to Company</a>
    </div>
{% endblock %}
