{% extends 'base.html.twig' %}

{% block title %}{{ company.name }} - Stock Prices{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include 'company/_stock_chart_styles.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container mt-5">
        {% include 'company/_stock_info_header.html.twig' with {
            'company': company,
            'quote': quote,
            'lastUpdated': lastUpdated,
            'interval': interval,
            'timeRange': timeRange
        } %}

        {% include 'company/_stock_chart_controls.html.twig' with {
            'company': company,
            'interval': interval,
            'timeRange': timeRange
        } %}

        {% include 'company/_stock_chart_display.html.twig' %}

        {% include 'company/_stock_data_tables.html.twig' with {
            'quote': quote
        } %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Consider moving Chart.js and Luxon to base.html.twig if used on multiple pages #}
    {# Or use Encore to manage JS assets #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1/dist/chartjs-adapter-luxon.min.js"></script>

    {% include 'company/_stock_chart_js.html.twig' with {
        'prices': prices,
        'company': company,
        'interval': interval,
        'timeRange': timeRange,
        'enableRealTimeUpdates': enableRealTimeUpdates
    } %}
{% endblock %}
